/* Estilos Generales */
body, html {
	margin: 0;
	padding: 0;
}

/* navbarlinks inicio */
ul[role="menubar"] {
	margin: 0;
	padding: 10px;
	font-size: 110%;
	list-style: none;
	background-color: #AEBCCC;
	display: flex;
	align-items: center;
  }
	
	.centrar_vertical{
		display: flex;
	align-items: center;
	}

  ul[role="menubar"] [role="menuitem"],
  ul[role="menubar"] [role="separator"] {
		padding: 0.25em;
		background-color: #AEBCCC;
		border: 2px solid #AEBCCC;
  }
  
  ul[role="menubar"] [role="separator"] {
	padding-top: 0.15em;
	background-image: url('assets\css\images\bg01.png');
	background-position: center;
	background-repeat: repeat-x;
  }
  
  ul[role="menubar"] [role="menuitem"]:focus,
  ul[role="menubar"] [role="menuitem"]:hover,
  ul[role="menubar"] [role="separator"]:focus,
  ul[role="menubar"] [role="separator"]:hover {
	background-color:#8DC2FF;
	color: black;

  }
	
	.logo {
		text-decoration: none;
	}

  ul[role="menubar"] a[role="menuitem"] {
	text-decoration: none;
	color:black;
	font-family: sans-serif;
		font-size: 1.3rem;
  }
  
  ul[role="menubar"] li {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  ul[role="menubar"] > li {
	display: inline;
	position: relative;
  }
  
  ul[role="menubar"] > li > a::after {
	content: url('../images/down-arrow-brown.png');
	padding-left: 0.25em;
  }
  
  ul[role="menubar"] ul[role="menu"] {
	display: none;
	position: absolute;
	top: -2px;
	left: 0;
	margin: 0;
	padding: 0;
  }
  
  ul[role="menubar"] ul[role="menu"] li a {
	display: block;
	width: 10em;
  }
  
  ul[role="menubar"] ul[role="menu"] a[aria-haspopup="true"]::after {
	content: url('../images/right-arrow-brown.png');
	padding-right: 2em;
	}
	.pelota_beisbol, .pelota_baloncesto, .pelota_futbol,
	.pelota_nacional,.pelota_internacional,
	.pelota_MLB,.pelota_serie,.pelota_baloncestonacional,.pelota_nba,.pelota_fnacional,
	.pelota_espanola, .pelota_premier, .pelota_italiana, .pelota_champions,.pelota_alemana, .pelota_finternacional {
		height: 25px;
		display: none;
	}
  /* navbar */
